body {
  margin: 62px 4px 0;
  font: 16px/1.8em helvetica, arial, sans-serif;
  height: 354px;
}

h1 {
  font: 24px futura;
  position: absolute;
  top: -7px;
  right: 13px;
}

a {
  text-decoration: none;
  color: #444;
}

#stop, #playtoggle {
  font-size: 12px;
  color: #999;
  position: absolute;
  top: 12px;
}

#stop {
  left: 13px;
}

#playtoggle {
  left: 51px;
}

#radio {
  font-size: 12px;
  color: #c00;
  position: absolute;
  top: 32px;
  left: 13px;
}

li {
  list-style-type: none;
}